@import 'tailwindcss/base' layer(tailwindBase);

@import 'base/reset.css' layer(reset);
@import 'base/fonts.css' layer(fonts);

@import 'tailwindcss/components' layer(tailwindComponents);

@import 'base/variables.css' layer(variables);
@import 'base/global-styles.css' layer(global);

@import-glob 'compositions/*.css' layer(compositions);
@import-glob 'blocks/*.css' layer(blocks);
@import-glob 'utilities/*.css' layer(utilities);

/* debugging */
/* @import-glob 'tests/*.css' layer(test); */

@import 'tailwindcss/utilities' layer(tailwindUtilities);

.gallery li {
    display: inline-block;
}

.gallery img {
    box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
    border-radius: 0.3em;
    padding: 5px;
    margin: 10px;
}


.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: "";
	border-top: 1.3px gray dashed;
	padding: 1em 0;
}

.testimg {
  background: url("/img/dotted-border.png") bottom left repeat-x;
}

.links-nextprev > * {
	flex-grow: 1;
}
.links-nextprev-next {
	text-align: right;
}
