/* inspired by: */
/* Modern reset: https://piccalil.li/blog/a-modern-css-reset/ */
/* https://keithjgrant.com/posts/2024/01/my-css-resets/ */
/* https://moderncss.dev/modern-css-for-dynamic-component-based-architecture/#css-reset-additions */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Prevent zooming when orientation changes on some iOS devices */
html {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Make gutter area stable and present on both edges of the scrollbar */
html {
  scrollbar-gutter: stable;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  min-height: 100dvh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg,
canvas {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

/* remove default button styles */
button {
  all: unset;
}

/* Inherit fonts for inputs and buttons */
button,
input,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Adding cursor style to interactive elements */
button,
label,
select,
summary,
[role='button'],
[role='option'] {
  cursor: pointer;
}

/* No typographic widows */
* {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* Scroll margin allowance above anchor links */
:target {
  scroll-margin-block-start: 2ex;
}

/* Scroll margin allowance below focused elements
  to ensure they are clearly in view */
:focus {
  scroll-margin-block-end: 8vh;
}
