/* Global variables */
:root {
  --gutter: var(--space-s-m);
  --border-radius: 0.5rem;
  --transition-duration: 250ms;
  --transition-timing: ease;
  --wrapper-width: clamp(16rem, 93vw, 85rem);
  --tracking: -0.05ch;
  --tracking-s: -0.075ch;
}
