/* Global variables.  */
/* This turned out a little too complex, and probably is overly specific. I'm still fiddling with this. Should work by itself though, once you define your design token colors.
/* Feel free to delete the modern CSS enhancements starting on line 74. Adjust fallbacks if modern color syntax not supported for text and bg variants. */

/* Basic variable definitions for color schemes */
:root {
  color-scheme: light dark;

  --gutter: var(--space-m-l);
  --border-radius: 0.3rem;
  --transition-duration: 250ms;
  --transition-timing: ease;
  --wrapper-width: 85rem;
  --tracking: -0.05ch;
  --tracking-s: -0.075ch;
  --tracking-wide: 0.05ch;

  --gradient-rainbow: linear-gradient(
    90deg,
    #cf4662 10%,
    #fbbe25 30%,
    #62c95c 50%,
    #08bccb 75%,
    #a977d5 90%
  );
  --gradient-conic: conic-gradient(
    var(--color-primary) 0 28%,
    var(--color-secondary) 0 67%,
    var(--color-tertiary) 0 100%
  );
  --gradient-stripes: linear-gradient(
    45deg,
    var(--color-base-dark) 0 75%,
    var(--color-primary) 0 85%,
    var(--color-secondary) 0 92%,
    var(--color-tertiary) 0 100%
  );
}

/* Default / Light theme specific variables */
:root,
:root[data-theme='light'] {
  --color-text: var(--color-base-dark);
  --color-bg: var(--color-base-light);
  --color-base: var(--color-base-dark);
  --color-primary: var(--color-primary-highlight);
  --color-secondary: var(--color-secondary-highlight);
  --color-tertiary: var(--color-tertiary-highlight);
  /* Fallbacks if modern color syntax not supported */
  --color-text-accent: #505050;
  --color-bg-accent: #fdfdfd;
  --color-bg-accent-2: #f7f7f7;
}

/* Dark theme specific variables based on system preference */
@media (prefers-color-scheme: dark) {
  :root {
    --color-text: var(--color-base-light);
    --color-bg: var(--color-base-dark);
    --color-base: var(--color-base-light);
    --color-primary: var(--color-primary-highlight);
    --color-secondary: var(--color-secondary-highlight);
    --color-tertiary: var(--color-tertiary-highlight);
    /* Fallbacks if modern color syntax not supported */
    --color-text-accent: #a8a8a8;
    --color-bg-accent: #383838;
    --color-bg-accent-2: #404040;
  }
}

/* Dark theme specific variables based on manual override */
:root[data-theme='dark'] {
  --color-text: var(--color-base-light);
  --color-bg: var(--color-base-dark);
  --color-base: var(--color-base-light);
  --color-primary: var(--color-primary-highlight);
  --color-secondary: var(--color-secondary-highlight);
  --color-tertiary: var(--color-tertiary-highlight);
  /* Fallbacks if modern color syntax not supported */
  --color-text-accent: #a8a8a8;
  --color-bg-accent: #383838;
  --color-bg-accent-2: #404040;
}

/* Enhancements for browsers that support color-mix */
@supports (background: color-mix(in srgb, red 50%, blue)) {
  :root,
  :root[data-theme='light'] {
    --color-text-accent: color-mix(in oklab, var(--color-base-dark) 80%, var(--color-bg));
    --color-bg-accent: color-mix(in oklab, var(--color-bg) 90%, var(--color-text));
    --color-bg-accent-2: color-mix(in oklab, var(--color-bg) 70%, var(--color-text));
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-text-accent: color-mix(
        in oklab,
        var(--color-base-light) 70%,
        var(--color-bg)
      );
      --color-bg-accent: color-mix(in oklab, var(--color-bg) 92%, var(--color-text));
      --color-bg-accent-2: color-mix(in oklab, var(--color-bg) 80%, var(--color-text));
      /* add opacity with color-mix */
      --color-primary: color-mix(
        in oklab,
        var(--color-primary-highlight),
        transparent 20%
      );
      --color-secondary: color-mix(
        in oklab,
        var(--color-secondary-highlight),
        transparent 20%
      );
      --color-tertiary: color-mix(
        in oklab,
        var(--color-tertiary-highlight),
        transparent 20%
      );
    }
  }

  :root[data-theme='dark'] {
    --color-text-accent: color-mix(
      in oklab,
      var(--color-base-light) 70%,
      var(--color-bg)
    );
    --color-bg-accent: color-mix(in oklab, var(--color-bg) 92%, var(--color-text));
    --color-bg-accent-2: color-mix(in oklab, var(--color-bg) 80%, var(--color-text));
    /* add opacity with color-mix */
    --color-primary: color-mix(in oklab, var(--color-primary-highlight), transparent 20%);
    --color-secondary: color-mix(
      in oklab,
      var(--color-secondary-highlight),
      transparent 20%
    );
    --color-tertiary: color-mix(
      in oklab,
      var(--color-tertiary-highlight),
      transparent 20%
    );
  }
}

/* Enhancements for browsers that support relative color values */
@supports (color: hsl(from red h s l)) {
  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary: hsl(from var(--color-primary-highlight) h calc(s / 1.2) l);
      --color-secondary: hsl(from var(--color-secondary-highlight) h calc(s / 1.2) l);
      --color-tertiary: hsl(from var(--color-tertiary-highlight) h calc(s / 1.2) l);
    }
  }

  :root[data-theme='dark'] {
    --color-primary: hsl(from var(--color-primary-highlight) h calc(s / 1.2) l);
    --color-secondary: hsl(from var(--color-secondary-highlight) h calc(s / 1.2) l);
    --color-tertiary: hsl(from var(--color-tertiary-highlight) h calc(s / 1.2) l);
  }
}
