code,
pre {
  padding: 0.125em 0.4em;
  font-family: var(--font-mono);
  background: var(--color-dark);
  border-radius: var(--border-radius);
  color: var(--color-light);
  font-size: var(--size-step-0);
}

pre[class*='language-'] {
  padding: var(--space-s-m);
}

code[class*='language-'] {
  padding: 0;
}

code[class*='language-'],
pre[class*='language-'] {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  color: var(--color-light);
  background: var(--color-dark);
  line-height: 1.5;
  border-radius: var(--border-radius);

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

:not(pre) > code[class*='language-'] {
  white-space: normal;
  border-radius: var(--border-radius);
  padding: 0.1em;
}

pre[class*='language-'] {
  overflow: auto;
  position: relative;
}

.language-css > code,
.language-sass > code,
.language-scss > code {
  color: #fd9170;
}

[class*='language-'] .namespace {
  opacity: 0.7;
}

.token.atrule {
  color: #d2b1e7;
}

.token.attr-name {
  color: #ffcb6b;
}

.token.attr-value {
  color: #80cbc4;
}

.token.attribute {
  color: #80cbc4;
}

.token.boolean {
  color: #d2b1e7;
}

.token.builtin {
  color: #ffcb6b;
}

.token.cdata {
  color: #80cbc4;
}

.token.char {
  color: #80cbc4;
}

.token.class {
  color: #ffcb6b;
}

.token.class-name {
  color: #ff8b59;
}

.token.color {
  color: #ff8b59;
}

.token.comment {
  color: #779daf;
}

.token.constant {
  color: #d2b1e7;
}

.token.deleted {
  color: #ee979c;
}

.token.doctype {
  color: #546e7a;
}

.token.entity {
  color: #ee979c;
}

.token.function {
  color: #d2b1e7;
}

.token.hexcode {
  color: #ff8b59;
}

.token.id {
  color: #d2b1e7;
  font-weight: bold;
}

.token.important {
  color: #d2b1e7;
  font-weight: bold;
}

.token.inserted {
  color: #80cbc4;
}

.token.keyword {
  color: #d2b1e7;
  font-style: italic;
}

.token.number {
  color: #fd9170;
}

.token.operator {
  color: #89ddff;
}

.token.prolog {
  color: #546e7a;
}

.token.property {
  color: #80cbc4;
}

.token.pseudo-class {
  color: #80cbc4;
}

.token.pseudo-element {
  color: #80cbc4;
}

.token.punctuation {
  color: #80cbc4;
}

.token.regex {
  color: #ff8b59;
}

.token.selector {
  color: #ee979c;
}

.token.string {
  color: #f48ea2;
}

.token.symbol {
  color: #d2b1e7;
}

.token.tag {
  color: #ee979c;
}

.token.unit {
  color: #ee979c;
}

.token.url {
  color: #fd9170;
}

.token.variable {
  color: #ee979c;
}

.codepen {
  padding: var(--space-xs);
  color: var(--color-text-accent);
  border: 2px dashed var(--color-bg-accent);
}

.cp_embed_wrapper {
  position: relative;
  overflow: auto;
  display: grid;
  place-items: center;
  grid-template-areas: 'container';
  resize: horizontal;
}

.cp_embed_wrapper iframe {
  grid-area: container;
  inline-size: 100%;
}
