dialog {
  border: none;
  border-radius: var(--border-radius);
}

dialog + button {
  all: unset;
  cursor: pointer;
}

dialog::backdrop {
  background-image: var(--gradient-stripes);
  opacity: 0.85;
  filter: brightness(50%);
}

/* Prevent page scroll: https://blog.mayank.co/is-dialog-enough */

html:has(dialog[open]:modal) {
  overflow: hidden;
}
