dialog {
  border: none;
  border-radius: var(--border-radius);
}

dialog + button {
  all: unset;
  cursor: pointer;
}

dialog::backdrop {
  background-image: linear-gradient(45deg, black 0 65%, #ff8b59 0 87%, #c569bc 0 100%);
  opacity: 0.75;
}
