.post h1 {
  font-size: var(--size-step-6);
}

.post h2 {
  font-size: var(--size-step-3);
}

.post h3 {
  font-size: var(--size-step-2);
}

.post img {
  max-inline-size: var(--max-img-width, 100%);
  block-size: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}

.date {
  font-size: var(--size-step-1);
  color: var(--color-text-light);
}

.credit {
  font-size: var(--size-step-min-1);
  color: var(--color-text-accent);
  background-color: var(--color-bg);
  padding: var(--space-xs) var(--space-s);
  border-radius: var(--border-radius);
  transform: translateY(-4ch) translateX(-0.5ch);
  max-inline-size: fit-content;
}

.meta {
  font-size: var(--size-step-min-1);
  margin-block-end: var(--space-m);
}
