.site-foot {
  padding: var(--space-s-m);
  background: var(--color-dark);
  color: var(--color-light);
}

.site-foot__inner {
  display: flex;
  gap: var(--space-xs-s);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.site-foot svg {
  height: 1em;
  width: 1em;
}
