.site-foot {
  padding: var(--space-s-m);
  background: var(--color-dark);
  color: var(--color-light);
}

.site-foot__inner {
  display: flex;
  gap: var(--space-xs-s);
  justify-content: center;
  flex-wrap: wrap;
}

.site-foot svg {
  block-size: 1em;
  inline-size: 1em;
}
