.theme-switch h2 {
  font-size: var(--size-step-min-1);
  font-family: var(--font-base);
}

.theme-switch .button {
  --button-border: var(--color-bg-accent-2);
  border-radius: var(--border-radius);
  font-size: var(--size-step-min-1);
  padding: 0.1rem 0;
  font-weight: 600;
  min-block-size: 1.5em;
}
