<li class="card">
  <div class="flow">
    {% if headingContext === "h2" %}
      <h2>
        <a href="{{ item.url | url }}">{{ item.data.title }}</a>
      </h2>
    {% else %}
      <h3>
        <a href="{{ item.url | url }}">{{ item.data.title }}</a>
      </h3>
    {% endif %}
    <div class="cluster text-step-min-1">
      {% set definedDate = item.date %}
      {% include "components/date.njk" %}
      {%
        if
        activateTags and item.data.tags.length > 1
      %}
        {% for tag in item.data.tags %}
          {% if tag != "posts" %}
            <span class="button post-tag"> {{ tag }} </span>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    <p>{{ item.data.description }}</p>
  </div>
</li>
