<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage"
    },
    "isPartOf": {
      "@id": "{{ meta.siteURL }}#website"
    },
    "@id": "{{ url }}",
    "headline": "{{ title or meta.siteName }}",
    "description": "{{ excerpt or meta.siteDescription }}",
    "image": "{% if seo.image %}/_assets/images/{{ seo.image }}{% else %}{{ meta.siteImage }}{% endif %}",
    "inLanguage": "{{ meta[locale].localeCode }}",
    "publisher": {
      "@type": "{{ meta.siteType }}",
      "name": "{{ meta.authorName }}",
      "url": "{{ meta.siteURL }}"
    },
    "author": {
      "@type": "Person",
      "name": "{{ meta.authorName }}"
    },
    "datePublished": "{{ date | toIsoString }}"
  }
</script>
