<script type="application/ld+json">
  {
    "@type": "WebPage",
    "mainEntityOfPage": {
      "@type": "WebPage"
    },
    "isPartOf": {
      "@id": "{{ meta.url }}#website"
    },
    "headline": "{{ title or meta.siteName }}",
    "description": "{{ seo.description or description or meta.siteDescription }}",
    "image": "{% if seo.image %}/assets/images/{{ seo.image }}{% else %}{{ meta.siteImage }}{% endif %}",
    "inLanguage": "{{ meta.locale }}",
    "publisher": {
      "@type": "{{ meta.siteType }}",
      "name": "{{ meta.authorName }}",
      "url": "{{ meta.url }}"
    }
  }
</script>
