/*
	Global styles

	Low-specificity, global styles that apply to the whole
	project: https://cube.fyi/css.html
*/

html {
  color-scheme: light dark;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-base);
  font-size: var(--size-step-0);
  font-weight: var(--font-regular);
  font-size-adjust: from-font;
  line-height: var(--leading-standard);
  color: var(--color-text);
  background-color: var(--color-bg);
  accent-color: var(--color-primary);
  letter-spacing: var(--tracking);
}

header {
  padding-block: var(--space-m);
  &.primary {
    line-height: 1;
  }
}


.logo > span {
  font-size: var(--size-step-3);
  display: flex;
  align-items: center;
  gap: .25rem;
}

.logo span.by {
  font-size: var(--size-step-min-1);
}

.logo:hover span.by,
.logo:focus span.by {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: .2em;
}

main {
  flex: auto;
}

h1,
h2,
h3 {
  font-family: var(--font-display);
  font-weight: var(--font-regular);
  line-height: var(--leading-fine);
  /* letter-spacing: var(--tracking-s); */
  font-variant-ligatures: common-ligatures discretionary-ligatures
  historical-ligatures contextual;
  font-feature-settings: "liga" on; 
}

h1 {
  font-size: var(--size-step-6);
}

h2 {
  font-size: var(--size-step-4);
}

h3 {
  font-size: var(--size-step-3);
}

blockquote {
  padding: var(--space-m-l);
  border-inline-start: 0.5rem solid var(--color-primary);
  font-size: var(--size-step-2);
}

blockquote > * + * {
  margin-block-start: var(--space-m-l);
}

blockquote :last-child {
  font-family: var(--font-base);
  font-style: normal;
  font-size: var(--size-step-1);
}

input,
textarea {
  caret-color: var(--color-primary);
}

svg {
  block-size: 0.6lh;
  inline-size: auto;
  flex: none;
}

b,
strong {
  font-weight: var(--font-bold);
}

hr {
  border: none;
  height: 1px;
  width: 10%;
  margin-block: var(--flow-space, var(--space-m-l));
  margin-inline-start: 0;
  background-color: var(--color-bg-accent-2);
}

figcaption {
  margin-block-start: var(--space-s);
  font-size: var(--size-step-min-1);
  text-align: center;
  padding-block-end: var(--space-xs);
  border-bottom: var(--stroke);
}

a {
  text-decoration-thickness: 0.15ex;
  text-underline-offset: 0.2ch;
}

a:not([class]):hover {
  text-decoration-thickness: 0.25ex;
}



:focus-visible, :focus {
  box-shadow: 0 0 0 2px var(--color-text-flipped);
  outline: 2px solid var(--color-primary);
  outline-offset: 3px;
}

/* reduce focus offset for Firefox
*/
@supports (-moz-appearance: none) {
  :root {
    --focus-offset: 0.08em;
  }
}

::selection {
  background-color: var(--color-text);
  color: var(--color-bg);
}

.preload-transitions * {
  transition: none !important;
}

@media (scripting: none) {
  .require-js {
    display: none;
  }
}
