/*
	Global styles

	Low-specificity, global styles that apply to the whole
	project: https://cube.fyi/css.html
*/

html {
  color-scheme: light dark;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-base);
  font-size: var(--size-step-0);
  font-weight: var(--font-regular);
  font-size-adjust: from-font;
  line-height: var(--leading-standard);
  color: var(--color-text);
  background-color: var(--color-bg);
  accent-color: var(--color-primary);
  letter-spacing: var(--tracking);
}

main {
  flex: auto;
}

h1,
h2,
h3 {
  font-family: var(--font-display);
  font-weight: var(--font-extra-bold);
  line-height: 1.2;
  letter-spacing: var(--tracking-s);
}

h1 {
  font-size: var(--size-step-6);
}

h2 {
  font-size: var(--size-step-4);
}

h3 {
  font-size: var(--size-step-2);
}

p,
li,
blockquote:not([class]) {
  max-inline-size: 65ch;
}

blockquote {
  padding: var(--space-m-l);
  border-inline-start: 0.5rem solid var(--color-primary);
  font-size: var(--size-step-2);
}

blockquote > * + * {
  margin-block-start: var(--space-m-l);
}

blockquote :last-child {
  font-family: var(--font-base);
  font-style: normal;
  font-size: var(--size-step-1);
}

input,
textarea {
  caret-color: var(--color-primary);
}

svg {
  block-size: 2ex;
  inline-size: auto;
  flex: none;
}

b,
strong {
  font-weight: var(--font-extra-bold);
  font-family: var(--font-display);
}

hr {
  height: 1px;
  width: 10%;
  margin-block: var(--space-m-l);
  margin-inline-start: 0;
  background-color: var(--color-bg-accent-2);
  border: 0;
}

a {
  color: currentcolor;
  text-decoration-thickness: 0.08em;
}

a:hover {
  text-decoration: none;
}

figcaption {
  margin-block-start: var(--space-s);
  font-size: var(--size-step-min-1);
  text-align: center;
  padding-block-end: var(--space-xs);
  border-bottom: 1px solid var(--color-bg-accent);
}

:focus-visible {
  outline: 3px solid;
  outline-offset: 0.3ch;
}

::selection {
  background-color: var(--color-text);
  color: var(--color-bg);
}

.preload-transitions * {
  transition: none !important;
}

@media (scripting: none) {
  .require-js {
    display: none;
  }
}
