.site-footer {
  --cluster-horizontal-alignment: center;
}

/* increase tab size */
.site-footer a {
  padding: var(--space-xs);
}

.site-footer svg {
  inline-size: 1.1em;
  block-size: 1em;
}

.site-footer .creator a:hover {
  color: transparent;
  background-image: var(--gradient-rainbow);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
}
