.logo {
  --gutter: var(--space-xs);
  /* hack var(--space-l) to get logo to line up with MENU */
  padding: var(--space-m) 0;
  font-size: var(--size-step-min-2);
  font-weight: var(--font-bold);
  /* letter-spacing: .1rem; */
  letter-spacing: var(--tracking-wide);
  transition: all 0.2 var(--nav-list-timing-function), visibility 0.2s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  color: color-mix(in oklab, var(--color-text) 70%, black);
}

.logo svg {
  width: 1.15em;
  height: 1.2em;
  /* fill: var(--color-themecolordarkest); */
  fill: var(--color-logo-icon);
}

.logo:hover svg,
body.pageIndex .logo svg {
  /* fill: var(--color-themecolordarkest); */
  fill: var(--color-orange-500);
  color: var(--color-text);
}

.logo:hover {
  color: var(--color-text);
}

body.pageIndex .logo {
  color: var(--color-text);
}

/* a.logo {
  --nav-item-text-color: color-mix(in oklab, var(--color-text) 70%, black);
} */
