.theme-switch h2 {
  font-size: var(--size-step-min-1);
  font-family: var(--font-base);
}

.theme-switch .button[aria-pressed='true'] {
  --_color-contrast: var(--color-tertiary);
  --button-bg: var(--_color-contrast);
  --button-color: var(--color-dark);
}

/* Hide without JS */
is-land:not(:defined) .theme-switch {
  display: none;
}

.darkmode-toggle {
  border: 0;
}

.darkmode-toggle[aria-pressed='true'] {
  .icon-light {
    display: block;
  }
  .icon-dark {
    display: none;
  }
}

.darkmode-toggle[aria-pressed='false'] {
  .icon-light {
    display: none;
  }
  .icon-dark {
    display: block;
  }
}