{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="{{ meta.lang }}">
  <head>
    <!-- charset/http-equiv/viewport -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- title -->
    <title>
      {% if seo.title %} {{ seo.title }}
      {% elif title %}
      {{ title }}
      {% else %}
      {{ meta.siteName }}
      {% endif %}
    </title>

    <link rel="stylesheet" href="/assets/css/global.css?{{ assetHash }}" />

    <!-- preloads -->
    <link
      rel="preload"
      href="/assets/fonts/inter/inter-v7-latin-500.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/inter/inter-v7-latin-700.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/assets/fonts/redhat/red-hat-display-v7-latin-900.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <!-- preloads in page data -->
    {% if preloads -%}
    <!-- prettier-ignore -->
    <link rel="preload"
            href="{{ preloads.href }}"
            as="{{ preloads.as }}"
            {% if preloads.type %}type={{ preloads.type }}{% endif %}{% if preloads.imagesrcset %}imagesrcset="{{ preloads.imagesrcset }}" {% endif %}
            {% if preloads.crossorigin %}crossorigin{% endif %} />
    {% endif %}

    <!-- defered js  -->
    <script type="module" src="/assets/scripts/app.js?{{ assetHash }}" defer></script>

    <!-- everything else: meta tags, icons, open graph etc.  -->
    {% include "partials/meta-info.njk" %}
  </head>

  <body>
    {% include "partials/header.njk" %}

    <main id="main" class="flow">{{ content | safe }}</main>

    {% include "partials/footer.njk" %} {% if youtube %}
    <!-- youtube, if actvated in frontmatter -->
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.4.0/lite-youtube.min.js"
    ></script>
    {% endif %}
  </body>
</html>
