---
layout: base
---

<header class="section spot-color-primary">
  <div class="section__inner">
    <div class="wrapper flow region">
      <h1 class="text-center">{{ title }}</h1>
    </div>
  </div>
  {% include 'svg/divider-waves.svg' %}
</header>

<article class="region">
  <div class="wrapper flow prose">
    {{ content | safe }}
  </div>
</article>

<article class="region">
  <div class="wrapper flow prose">
    <h2>{{ blog.title }}</h2>
    <p>{{ blog.intro }}</p>
  </div>
  <!-- TODO: duplicate of partials/blog.njk -->

  <ul class="wrapper grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    {% set postslist = collections.posts %} {% for post in postslist.slice(0, 4) %} {%
    include "partials/blog-card.njk" %} {% endfor %}
  </ul>
</article>
