---
layout: base
---

<header class="section spot-color-primary">
  <div class="section__inner">
    <div class="wrapper flow region">
      <h1>{{ title }}</h1>
      <p>{{ item.summary | md | safe }}</p>
    </div>
  </div>
  {% include 'svg/divider-pixels.svg' %}
</header>

<article class="region">
  <div class="wrapper flow prose">
    {{ content | safe }}
  </div>
</article>
