---
layout: base
---

<article class="region wrapper flow prose" style="--region-space-top: var(--space-xl); background-color: var(--color-bg-article)">
  <h1>{{ title }}</h1>
  {{ content | safe }}
</article>
