---
layout: base
---

<article class="region blog">
  <div class="wrapper flow prose">
    <h1 class="gradient-text">{{ title }}</h1>

    {% set definedDate = date %} {% include "partials/date.njk" %}

    {{ content | safe }}
  </div>
</article>

<!-- include blogpost schema  -->
{%- include "schemas/blogpost-schema.njk" %}
