---
permalink: /humans.txt
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---

/* TEAM */
	Developer: {{ meta.author }}
	Contact: {{ meta.authorEmail }}
	Site: {{ meta.siteURL }}
	{% if meta.meta_data.twitterCreator %}Twitter: {{ meta.meta_data.twitterCreator }}{% endif %}

/* SITE */
	Doctype: HTML5