---
permalink: /robots.txt
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
User-agent: *
Disallow: /404.html
Disallow: /google35901daa0ceb7399.html
Sitemap: {{ meta.siteURL }}/sitemap.xml
