.gallery dialog {
  border-radius: var(--border-radius-medium);
  inset: revert;
}

.gallery dialog + button {
  all: unset;
  cursor: pointer;
}

.gallery dialog + button img {
  aspect-ratio: 1;
  object-fit: cover;
}

/* Don't indicate interactivity without JS */
is-land:not(:defined) .gallery dialog + button {
  cursor: default;
}

.gallery dialog::backdrop {
  background-image: var(--gradient-stripes);
  opacity: 0.9;
  filter: brightness(50%);
}

.gallery dialog img {
  aspect-ratio: auto;
  max-block-size: 70vh;
  inline-size: auto;
}

.gallery dialog figcaption {
  color: var(--color-light);
}
