.gallery dialog {
  border-radius: var(--border-radius);
  inset: revert;
}

.gallery dialog + button {
  all: unset;
  cursor: pointer;
}

/* Don't indicate interactivity without JS */
is-land:not(:defined) .gallery dialog + button {
  cursor: default;
}

.gallery dialog::backdrop {
  background-image: var(--gradient-stripes);
  opacity: 0.9;
  filter: brightness(50%);
}

.gallery dialog img {
  max-block-size: 70vh;
}
