.mainnav {
  --gutter: var(--space-s);
  position: var(--nav-position, relative);
}

.mainnav ul {
  --gutter: var(--space-xs);
  --list-block-padding: var(--space-s);
  --list-inline-padding: 0;
  margin: 0;
  line-height: 0.5em;
  padding-block: var(--list-block-padding);
  padding-inline: var(--list-inline-padding);
}

.mainnav a {
  --item-text-color: var(--color-text);
  --item-background-color: var(--color-bg);
  --item-border-color: var(--color-bg-accent-2);
  --item-padding: var(--space-s);
  background-color: var(--item-background-color);
  color: var(--item-text-color);
  padding: var(--item-padding);
  text-decoration: none;
  display: block;
  border-radius: var(--border-radius);
  border: 1px solid var(--item-border-color);
}

/* Change the border-color on :hover and :focus */
.mainnav a:where(:hover, :focus) {
  --item-background-color: var(--color-text);
  --item-text-color: var(--color-bg);
  --item-border-color: var(--color-bg);
}

/* Change border-color and color for the active page. data-state='active' if a child is active. */
.mainnav [aria-current='page'],
.mainnav [data-state='active'] {
  --item-background-color: var(--color-text);
  --item-border-color: var(--color-bg);
  --item-text-color: var(--color-bg);
}
