---
title: Built with
permalink: /built-with/index.html
description: Websites built with this starter
layout: page
---

<p>
  A list of sites based on / built with Eleventy Excellent. Add your site by submitting a
  pull request! :)
</p>

<ul class="grid mt-l-xl" role="list">
  <!-- you find tha data for that in src/_data/builtwith.json -->
  {% for site in builtwith | reverse %}

  <li class="flow mb-m">
    {% imagePlaceholder site.screenshot, "Screenshot of {{ site.name }}" %}

    <p class="text-step-0">
      {{ site.description }}<br />

      <strong>
        <a href="{{ site.link }}">{{ site.link | replace("https://", "") }}</a>
      </strong>
    </p>
  </li>
  {% endfor %}
</ul>
