---
title: Built with
permalink: /built-with/index.html
description: Websites built with this starter
layout: page
grid:
  sizes: "(max-width: 615px) 50vw, 100vw"
	widths: [400, 520]
---

<p>A list of Add your site by submitting a pull request! :)</p>

<article class="full section" style="--spot-color: var(--color-bg-accent)">
  {% include 'svg/divider-soft-top.svg' %}

  <section class="section__inner wrapper">
    <h2>Based on, or built with Eleventy Excellent:</h2>
    <ul class="grid" role="list" style="--gutter: var(--space-xl) var(--space-m)">
      <!-- you find tha data for that in src/_data/builtwith.json -->
      {% for site in builtwith | reverse %}

      <li class="grid-card | text-step-min-1">
        {% eleventyImage site.screenshot, site.name, null, "lazy", null, sizes, widths %}

        <p>
          {{ site.description }}
        </p>

        <p>
          <a href="{{ site.link }}">{{ site.link | replace("https://", "") }}</a>
        </p>
      </li>
      {% endfor %}
    </ul>
  </section>

  {% include 'svg/divider-soft-bottom.svg' %}
</article>
