---
title: Github
permalink: /github/index.html
description: Showing Lenes repositories via eleventy fetch
layout: page
---

This is an example of fetching external data. Edit in _data/github.js.

<ul>
  {% for repository in github %}
  <li>
    <a href="{{ repository.html_url }}">{{ repository.name }} </a>
  </li>
  {% else %}
  <li>This would display if the 'item' collection were empty</li>
  {% endfor %}
</ul>
