---
layout: base
permalink: /index.html
title: 'Bike'
description: 'Some stuff todo'
blog:
  title: 'Entries'
  intro: ''
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region"
                  style="--region-space-top: var(--space-s-m);">
      <h3 class="text-center" style="color: var(--color-light);">{{ title }}</h3>
    </div>
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h2>Some Text</h2>
      <p>something here</p>
    </div>
  </article>

  <section class="full | region">
    <div class="wrapper flow prose">
      <h2>{{ blog.title }}</h2>
      <!-- blog intro text is optional. -->

      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}

      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          <!-- loop posts -->
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
						{% set definedDate = item.date %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
