---
layout: page
permalink: /index.html
title: "Hej! I'm Johan."
description: 'Personal website.'
sizes: '(max-width: 615px) 50vw, 100vw'
widths: [400, 520]
blog:
  title: 'Blog'
  intro: "I'm showing the last 4 blog posts, but there might be more!"
---
<p>I've been make websites since 2000. Nowadays I focus on <abbr title="Conversion Rate Optimization">CRO</abbr>, <abbr title="Search Engine Optimization">SEO</abbr> and accessibility.</p>

<p>I believe that we can reach a classless, moneyless society based on mutual respect if we follow the advice of Jesus Christ. This Kingdom of God is within each of us.</p>

<p>I like running and orienteering, 3-cushion billiards, reading Tolstoy, instrumental music and vegan food.</p>

<article class="full section" style="--spot-color: var(--color-bg-accent)">
  {% svg "divider/soft-top", null, "divider" %}

  <section class="feature section__inner wrapper">
      <div class="feature | region region-space-l">
        <custom-masonry layout="thirds">
          {# {% set itemList = collections.allArticles %} #}
          {% set itemList = collections.posts | reverse %}
					{% asyncEach item in itemList.slice(0, 40) %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</article>
