---
layout: pageIndex
permalink: /index.html
title: "Johan Edlund"
description: 'Personal website.'
sizes: '(max-width: 615px) 50vw, 100vw'
widths: [400, 520]
blog:
  title: 'Blog'
  intro: "I'm showing the last 4 blog posts, but there might be more!"
---
<p class="intro">I design and develop for the web with a focus on <abbr title="Conversion Rate Optimization">CRO</abbr>, <abbr title="Search Engine Optimization">SEO</abbr> and accessibility.</p>

