---
permalink: /humans.txt
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---

/* TEAM */
Developer: {{ meta.author }}
Contact: {{ meta.authorEmail }}
Site: {{ meta.authorWebsite }}
{% if meta.meta_data.mastodonCreator %}
Mastodon: {{ meta.meta_data.mastodonCreator }}{% endif %}

/* SITE */
Doctype: HTML5
