---
permalink: /carbon.txt
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
[upstream]
providers = [{ domain = '{{ meta.greenweb.providers.domain }}', service = '{{ meta.greenweb.providers.service }}' }]

[org]
credentials = [{% if meta.greenweb.credentials.domain %}{ domain = '{{ meta.greenweb.credentials.domain }}', doctype = '{{meta.greenweb.credentials.doctype }}', url = '{{ meta.greenweb.credentials.url }}' }{% endif %}]