---
permalink: /humans.txt
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---

/* TEAM */
Developer: {{ meta.creator }}
Contact: {{ meta.creatorEmail }}
Site: {{ meta.creatorWebsite }}
{% if meta.creatorSocial %}
Find me on: {{ meta.creatorSocial }}{% endif %}

/* SITE */
Doctype: HTML5
