---
permalink: /humans.txt
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---

/* the humans responsible & colophon */

/* TEAM */
  Developer: {{ meta.creator.name }}
  Contact: {{ meta.creator.email }}
  Website: {{ meta.creator.website }}
  {% if meta.creator.mastodon %}Mastodon: {{ meta.creator.mastodon }}{% endif %}
  {% if meta.creator.x %}X: {{ meta.creator.x }}{% endif %}

/* SITE */
  Doctype: HTML5
  Languages: English (US), Swedish
  Standards: HTML, CSS, JavaScript
  Components: 11ty, Eleventy Excellent (Eleventy Starter Kit), Git/Github, Netlify
  Software: Warp, Nova, Affinity Studio


/* THANKS */
  Lene Saile for Eleventy Excellent (https://github.com/madrilene/eleventy-excellent)
  Website: https://www.lenesaile.com/

  Andy Bell for https://buildexcellentwebsit.es and Cube CSS (https://cube.fyi/)
  Website: https://andy-bell.co.uk/

  Zach Leatherman for 11ty (https://github.com/11ty/eleventy)
  Website: https://zachleat.com/

  /* RESOURCES */

  The A11Y Project
  https://www.a11yproject.com/

  Creating Perfect Font Fallbacks in CSS
  https://www.aleksandrhovhannisyan.com/blog/perfect-font-fallbacks/

  Optimizing Webfont Performance
  https://arielsalminen.com/2025/optimizing-webfont-performance/

  CSS Almanac At-Rules @font-face
  https://css-tricks.com/almanac/rules/f/font-face/
