---
permalink: /robots.txt
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
User-agent: * 
Disallow: /404.html 

User-agent: GPTbot 
Disallow: / 

User-agent: ChatGPT-User 
Disallow: /

User-agent: Google-Extended 
Disallow: / 

User-agent: Omgilibot 
Disallow: / 

Sitemap: {{ meta.url }}/sitemap.xml
