{% if backlinks.length > 0 %}
    <nav aria-label="Backlinks">
        <h4>Backlinks</h4>
        <ul>
            {% for link in backlinks %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}
