<li class="card flow clickable-card overflow-hidden">
  <h3>
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
  </h3>
  {% set definedDate = post.date %} {% include "partials/date.njk" %}
  <p>{{ post.data.description }}</p>
</li>
