<custom-card clickable>
  <h2 slot="headline">
    <a href="{{ item.url | url }}">{{ item.data.title }}</a>
  </h2>
  <span slot="date"> {% include "partials/date.njk" %} </span>
  <p slot="content">{{ item.data.description }}</p>
</custom-card>

{% css "inline" %}
  {% include "css/custom-card.css" %}
{% endcss %}
