<footer class="site-foot" role="contentinfo">
  <div class="wrapper">
    <div class="site-foot__inner">
      {% include "icons/keyboard.svg" %} &copy; {% year %} {{ meta.siteName }}
      <a href="/imprint/"> Imprint </a>

      <a href="/privacy/"> Privacy </a><br />
    </div>
  </div>
</footer>
