<is-land on:idle>
  <div class="gallery | grid mt-l-xl" role="list">
    {%- for item in gallery -%}
      <dialog class="flow modal{{ loop.index }}">
        <button class="button" autofocus>Close</button>
        {%- image item.image, item.alt, item.caption -%}
      </dialog>
      <button data-index="{{ loop.index }}">{%- image item.image, item.alt -%}</button>
    {%- endfor -%}
  </div>

  {% css "local" %}
    {% include "css/gallery.css" %}
  {% endcss %}

  {% js "defer" %}
    {% include "scripts/gallery.js" %}
  {% endjs %}
</is-land>
