<a href="#main" class="skip-link">{{ meta.skipContent }}</a>

<header class="wrapper">
  <div class="site-head | ontop spot-color-primary">
    {% set activePage = page.url | url %}
   <a href="/" class="logo | no-underline" {% if activePage === '/' %} aria-current="page" {% endif %}>
		{% include "svg/star.svg" %}

      {{ meta.siteName }}
    </a>

    {% include "partials/menu.njk" %}
  </div>
</header>
