{% set drawerNav = meta.navigation.drawerNav %}

{% if drawerNav %}
  <!-- check for drawer menu being activated in meta.js -->
  {% set drawerClass = "site-nav-drawer" %}
{% endif %}

<nav
  id="mainnav"
  class=" {{ drawerClass or 'site-nav' }}"
  aria-label="{{ meta.navigation.ariaTop }}"
>
  <ul class="cluster" role="list">
    {% for item in navigation.top %}
      <li>
        <a
          class="nav"
          href="{{ item.url }}"
          {{
            helpers.getLinkActiveState(item.url,
            page.url)
            |
            safe
          }}
          >{{ item.text }}</a
        >
      </li>
    {% endfor %}
  </ul>
</nav>

{% if drawerNav %}
  {% include "components/burger-template.njk" %}
{% endif %}
