<is-land on:idle>
  {# <div
    role="region"
    class="theme-switch | cluster mt-xs"
    style="--cluster-horizontal-alignment: center; --gutter: 0.5rem"
    aria-labelledby="theme-switcher-label"
    data-theme-switcher
  >
    <h2 id="theme-switcher-label">{{ meta.themeSwitch.title }}</h2>
    <button class="button" id="light-theme-toggle" data-theme="light" data-ghost-button data-small-button>
      <span>{{ meta.themeSwitch.light }}</span>
    </button>
    <button class="button" id="dark-theme-toggle" data-theme="dark" data-ghost-button data-small-button>
      <span>{{ meta.themeSwitch.dark }}</span>
    </button>
  </div> #}
  <div>
    <button
      id="darkmode-toggle"
      class="button darkmode-toggle"
      aria-label="Toggle Dark Mode"
      aria-pressed="false"
      data-initial-mode="light"
      data-theme="light"
      data-ghost-button
      data-svg-button
    >
      <span class="icon icon-light">
        <svg aria-hidden="true" height="32" width="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            d="M13 3a1 1 0 1 0-2 0v1a1 1 0 1 0 2 0V3zM5.707 4.293a1 1 0 0 0-1.414 1.414l1 1a1 1 0 0 0 1.414-1.414l-1-1zm14 0a1 1 0 0 0-1.414 0l-1 1a1 1 0 0 0 1.414 1.414l1-1a1 1 0 0 0 0-1.414zM12 7a5 5 0 1 0 0 10 5 5 0 0 0 0-10zm-9 4a1 1 0 1 0 0 2h1a1 1 0 1 0 0-2H3zm17 0a1 1 0 1 0 0 2h1a1 1 0 1 0 0-2h-1zM6.707 18.707a1 1 0 1 0-1.414-1.414l-1 1a1 1 0 1 0 1.414 1.414l1-1zm12-1.414a1 1 0 0 0-1.414 1.414l1 1a1 1 0 0 0 1.414-1.414l-1-1zM13 20a1 1 0 1 0-2 0v1a1 1 0 1 0 2 0v-1z"
            fill="currentColor"
            clip-rule="evenodd"
            fill-rule="evenodd"
          ></path>
        </svg>
      </span>
      <span class="icon icon-dark">
        <svg aria-hidden="true" height="32" width="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            d="M9.353 3C5.849 4.408 3 7.463 3 11.47A9.53 9.53 0 0 0 12.53 21c4.007 0 7.062-2.849 8.47-6.353C8.17 17.065 8.14 8.14 9.353 3z"
            fill="currentColor"
          ></path>
        </svg>
      </span>
    </button>
  </div>
</is-land>
